<header xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-lg-7 col-md-8  upper_links">
      <ul>
        <li class="search">
          <a href="#">
            <!--<span class="gl glyphicon glyphicon-search"></span>-->
            <img src="images/search.png">
          </a>
          <div class="bottom-line"></div>
        </li>
        <li class="fb-likes">
          <div id="fb-root"></div>
          <div class="fb-like" data-href="http://gizra.github.io/CRI/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          <div class="bottom-line"></div>
        </li>
        <li class="youtube">
          <a href="#">
            <img src="images/youtube.png">
          </a>
          <div class="bottom-line"></div>
        </li>
        <li class="fb">
          <a href="#">
            <img src="images/fb.png">
          </a>
          <div class="bottom-line"></div>
        </li>
        <li class="text-link">
          <a href="#">
            אודות
          </a>
          <div class="bottom-line"></div>
        </li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-4 logo">
      <a href="#"><span class="logo-text"> CRI&bull;Online </span> מהדורת ישראל  </a>
    </div>
  </div>
  <div class="row main-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
        <div class="col-lg-7 col-sm-9 col-xs-6">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <nav role="navigation">
              <ul class="navbar-nav">
                <li class="main-page"><a href="#">ראשי</a><div class="bottom-line"></div></li>
                <li class="blue"><a href="#">חדשות</a><div class="bottom-line"></div></li>
                <li class="orange"><a href="#">תרבות וחברה</a><div class="bottom-line"></div></li>
                <li class="magenta"><a href="#">כלכלה</a><div class="bottom-line"></div></li>
                <li class="cyan"><a href="#">טיולים</a><div class="bottom-line"></div></li>
                <li class="green"><a href="#">אוכל</a><div class="bottom-line"></div></li>
                <li class="pink"><a href="#">ויקי-סין</a><div class="bottom-line"></div></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <p><a href="#"> עכשיו בסין </a></p>
        </div>
      </div>
    </div>
</div>
</header>
